<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hand.dao.CityDao">
	<resultMap type="com.hand.dto.City" id="cityMap">
		<id property="cityId" column="city_id" />
		<result property="city" column="city" />
		<association property="country" resultMap="com.hand.dao.CountryDao.countryMap"/>
	</resultMap>
	
</mapper>